main #top-flex {
    display: flex;
    align-items: center;
    padding: 5em 24em;

    gap: 22em;
}

main #top-flex div {
    flex: 1;
}

main h1 {
    font-size: 4em;
}

main p {
    font-size: 1.8em;
    padding: 0;
    margin: 0;
}
.orange-text {
    position: relative;
    z-index: 2;
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
}
.orange-text::before {
    content: "";
    position: absolute;
    background-color: #ff8a00;
    width: calc(100% + 1px);
    height: calc(100% + 2px);

    transform: rotateZ(-1deg);

    z-index: -1;
}

#timeline {
    width: 100%;
    height: fit-content;
    margin-top: 10em;
    margin-bottom: 5em;

    position: relative;
    display: flex;
    align-items: center;
}

#line {
    position: absolute;
    top: calc((18px + 4px) / 2);
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
}

#milestones-wrapper {
    width: 100%;

    display: flex;
    justify-content: space-around;
    gap: 2em;
    padding: 0 3em;
}

.milestone {
    text-align: center;
    flex: 1;
    position: relative;
}
.milestone-year {
    position: absolute;
    bottom: calc(100% + 0.2em);
    left: 50%;
    transform: translateX(-50%);

    font-size: 1.6em;
    font-weight: 600;
}

.milestone-square {
    width: 18px;
    height: 18px;
    border: 4px solid var(--primary-color);
    border-radius: 5px;
    background-color: #ff8a00;
    margin-left: 50%;
    transform: translateX(-50%);
}

.milestone h4 {
    font-size: 1.9em;
    margin: 0.25em 0;
}
.milestone p {
    display: inline;

    font-size: 1.5em;
}

#text-flex {
    display: flex;
    padding: 5em 20em;
    gap: 12em;
}

#recommendations {
    padding: 5em 20em;
}
#recommendations h2 {
    font-size: 3em;
}

#rec-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5em;
    column-gap: 5em;
    font-size: 2em;
    text-align: center;
    font-weight: 600;
}

#me-img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    object-fit: cover;

    border-radius: 10px;
    border: 7px solid var(--primary-color);
    box-sizing: border-box;

    margin-left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1600px) {
    main #top-flex {
        padding: 5em 10em;
        gap: 8em;
    }
    #rec-grid img {
        display: block;
        max-width: 100%;
    }
}

@media (max-width: 1300px) {
    #text-flex {
        padding: 5em 10em;
        gap: 10em;
    }
    #recommendations {
        padding: 5em 10em;
    }
}

@media (max-width: 1000px) {
    main #top-flex {
        flex-direction: column;
        gap: 5em;
        padding: 2em;
    }
    main #top-flex p {
        font-size: 2.75em;
    }
    #me-img-wrapper {
        margin: 0 3em;
    }

    #timeline {
        margin-top: 5em;
        margin-bottom: 2em;
    }

    #line {
        display: none;
    }
    #milestones-wrapper {
        flex-direction: column;
        gap: 5em;
    }
    .milestone {
        font-size: 1.5em;
    }

    #recommendations {
        padding: 5em 2em;
    }

    #text-flex {
        flex-direction: column;
        gap: 3em;
        padding: 5em 2em;
        padding-bottom: 0;
    }
    #text-flex p {
        font-size: 2.75em;
    }

    #rec-grid {
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        width: 100%;
        padding: 0;
        gap: 3em 2em;
        font-size: 2.5em;
    }
    #rec-grid img {
        max-width: 100%;
    }
    #rec-grid div {
        display: flex;
        flex-direction: column;
    }
}
