:root {
	--primary: #2f3c7e;
	--secondary: #d64550;
}

html,
body {
	overflow-x: hidden;
}
body {
	margin: 0;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	color: #000;

	padding: 20px 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: bold;
}

a {
	color: inherit;
}

@media (max-width: 1100px) {
	body {
		padding-left: 15px;
		padding-right: 15px;
	}
}
