/* main */
main {
    text-align: center;
    margin-top: 8em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 4.2em;
    color: var(--secondary-color);
    margin: 0;
    font-weight: 600;
}

h1 {
    font-size: 9em;
    color: var(--primary-color);
    margin: 0;
    margin-top: 0.1em;
    font-weight: 600;
    line-height: 1;
}

#status {
    font-size: 1.8em;
    color: var(--secondary-color);

    font-weight: 500;
    position: relative;
    width: fit-content;
}
#status::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1em;

    width: 0.5em;
    height: 0.5em;
    background-color: #29d2a9;
    border-radius: 50%;

    animation: pulse 2s infinite ease-out;
}
@keyframes pulse {
    0% {
        background-color: #fff;
    }
    50% {
        background-color: #29d2a9;
    }
    100% {
        background-color: #fff;
    }
}

#desc {
    font-size: 2.4em;

    font-weight: 500;

    max-width: 500px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#language-line {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--background);
    padding: 0.5em 0;
    margin-top: 5em;

    font-size: 2.4em;
    font-weight: 600;

    display: flex;
    justify-content: space-around;

    transform: rotate(-1deg);
}

/* section */
section {
    text-align: center;
    margin-top: 18em;
    margin-bottom: 20em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 6em;
}

#projects {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 5em;

    width: 80%;
}

.project {
    border: 2px solid var(--primary-color);

    font-size: 2em;

    flex: 1;
}
.project-name {
    border-top: 2px solid var(--primary-color);
    padding: 5px 0;
}
.project span {
    font-weight: 600;
}
